<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headFragment">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="/css/styles.css"/>
  <noscript>
    <link rel="stylesheet" href="/css/noscript.css"/>
  </noscript>
</div>
</html>