<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <th:block th:replace="fragment/head :: headFragment"/>
</head>

<body>
<div id="body-wrapper">
    <form th:action="@{/signin}" method="POST">
        <h1><a href="/">Community</a></h1><br/>
        <div>
            <span>아이디</span><br/>
            <input type="text" name="loginID" placeholder="아이디를 입력해주세요"><br/>
            <span class="valid"></span><br/>
        </div>
        <div>
            <span>비밀번호</span><br/>
            <input type="password" name="pwd1" placeholder="비밀번호를 입력해주세요"><br/>
            <span class="valid"></span><br/>
        </div>
        <button>로그인</button>
        <th:block th:replace="fragment/footer :: footerFragment" />
    </form>
</div>
</body>
</html>

